<!DOCTYPE html>
<html>
<head>
  <title>Permissions</title>
  <%= stylesheet_link_tag    "permissions/application", media: "all" %>
  <%= javascript_include_tag "permissions/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
